<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
http://www.springframework.org/schema/context  
http://www.springframework.org/schema/context/spring-context-3.0.xsd">  

    
    <context:component-scan  base-package="abc" /> 
     
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">  
        <property name="prefix" value="WEB-INF/jsp/" />  
        <property name="suffix" value=".jsp" />  
    </bean>  
    
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>
    
    
    
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
		 <property name="annotatedClasses">
            <list>
                <value>abc.VO.RegVO</value>
                <value>abc.VO.LoginVO</value>
                 <value>abc.VO.bseVO1</value>
                 <value>abc.VO.clientVO</value>
                 <value>abc.VO.confirmVO</value>
                 <value>abc.VO.dateVO</value>
                 <value>abc.VO.fileVO1</value>
                 <value>abc.VO.nsefoVO1</value>
                 <value>abc.VO.tempfilenseVO</value>
                 <value>abc.VO.tempfilensefoVO</value>
                 <value>abc.VO.tempfilebseVO</value>
                 
			</list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>  	 
    
<!--     <bean id="multipartResolver" -->
<!--         class="org.springframework.web.multipart.commons.CommonsMultipartResolver" /> -->
</beans>
